.stat {
	/* background: -webkit-linear-gradient(#1382e9, #0ebff5); */
	/* -webkit-background-clip: text; */
	/* background-clip: text; */
	/* -webkit-text-fill-color: transparent; */
	color: rgb(234, 112, 82);
	float: left;
	width: auto;
	margin-right: 20px;
	font-size: 40px;
	font-weight: 700;
	font-family: "Londrina Solid", cursive;
}

.txt {
	color: white;
	mix-blend-mode: difference;
	float: left;
	font-size: 25px;
	font-weight: 500;
	font-family: "Londrina Solid", cursive;
	margin-right: 10px;
	margin-top: 9px;
}

#bg {
	border-radius: 10px;
	padding: 8px;
	background-color: rgb(0, 0, 0);
	width: -moz-fit-content;
	width: fit-content;
	height: auto;
	float: right;
}

#ranktxt {
	margin-left: 15px;
}
