.stat {
	color: #ea7052;
	float: left;
	width: auto;
	margin-right: 20px;
	font-size: 40px;
	font-weight: 700;
	font-family: "Londrina Solid", cursive;
}

.txt {
	color: white;
	float: left;
	font-size: 25px;
	font-weight: 500;
	font-family: "Londrina Solid", cursive;
	margin-right: 10px;
}

#bg {
	border-radius: 10px;
	padding: 0.4em;
	display: flex;
	background-color: rgb(0, 0, 0);
	width: -moz-fit-content;
	width: fit-content;
	flex-wrap: nowrap;
	align-items: center;
}

#ranktxt {
	margin-left: 15px;
}

#country-flag {
	width: 50px;
	margin-right: 20px;
}
